{
    "ACCESS_KEY": "",
    "SECRET_KEY": "",    
    "REGION": "us-east-1",
    "AVAILABILITY_ZONE": "us-east-1a",
    "VPC_NAME": "TC_VPC",
    "VPC_CIDR": "198.10.0.0/24",    
    "PUBLIC_SUBNET_NAME_1": "TC_SUBNET_PUBLIC_1",    
    "PUBLIC_SUBNET_NAME_2": "TC_SUBNET_PUBLIC_2",    
    "PRIVATE_SUBNET_NAME_1": "TC_SUBNET_PRIVATE_1",    
    "PRIVATE_SUBNET_NAME_2": "TC_SUBNET_PRIVATE_2"
}